@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", sans-serif, serif;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: #FEFAE0;
}

section#image-container {
  position: relative;
  width: 40%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  left: 20px;
  top: 20px;
}
form input {
  border: 1px solid #C0C0C0;
  border-radius: 30px;
  width: 300px;
  height: 40px;
  text-indent: 10px;
  font-size: 1rem;
}

ul li {
  list-style-type: none;
}
ul#names-list {
  display: flex;
  gap: 100px;
}
ul#email-num {
  display: flex;
  gap: 100px;
}
ul#password-id {
  display: flex;
  gap: 100px;
}

div.main-container {
  position: relative;
  display: flex;
  margin: 50px 50px 0px;
  height: auto;
  border: 2px solid #000000;
  box-sizing: border-box;
}
div.container-1 {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
  background-color: #F3E5AB;
  width: 100%;
  font-size: 1.25rem;
}
div.head-text {
  margin-top: 20px;
  margin-left: 20px;
}
div.container-2 {
  background-color: #f8edeb;
  font-size: 1.5rem;
  height: 60%;
}
div.coffee-bar {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.coffee-bar > p {
  color: #FFFFFF;
  font-size: 2rem;
}
div.make-acc {
  top: 20px;
}
div.returning-customer {
  margin-top: 20px;
  margin-left: 20px;
}

button#join-btn {
  border: 1px solid #C0C0C0;
  border-radius: 30px;
  width: 250px;
  height: fit-content;
  font-size: 2rem;
}

img#coffee-img {
  max-width: 100%;
  height: 100%;
}
img#coffee-gif {
  max-width: auto;
  height: 300px;
}

input:focus:valid {
  outline: 2px solid #3dce00;
}
input:focus:invalid {
  outline: 2px solid #FF0000;
}
input#first-name:focus:invalid + span::after {
  position: absolute;
  content: "✖";
  right: 690px;
  color: #FF0000;
}
input#first-name:valid + span::after {
  position: absolute;
  content: "✓";
  right: 690px;
  color: #3dce00;
}
input#last-name:focus:invalid + span::after {
  position: absolute;
  content: "✖";
  left: 710px;
  color: #FF0000;
}
input#last-name:valid + span::after {
  position: absolute;
  content: "✓";
  left: 710px;
  color: #3dce00;
}
input#mail:focus:invalid {
  outline: 2px solid #FF0000;
}
input#mail:focus:invalid + span::after {
  position: absolute;
  content: "✖";
  right: 690px;
  color: #FF0000;
}
input#mail:valid + span::after {
  position: absolute;
  content: "✓";
  right: 690px;
  color: #3dce00;
}
input#telNum:focus {
  outline: 2px solid #fca311;
}
input#telNum:focus:invalid {
  outline: 2px solid #FF0000;
}
input#telNum:focus:invalid + span::after {
  position: absolute;
  content: "✖";
  left: 710px;
  color: #FF0000;
}
input#telNum:valid + span::after {
  position: absolute;
  content: "✓";
  left: 710px;
  color: #3dce00;
}
input#password:focus:invalid {
  outline: 2px solid #FF0000;
}
input#password:focus:invalid + span::after {
  position: absolute;
  content: "✖";
  right: 690px;
  color: #FF0000;
}
input#password:valid + span > .validation::after {
  position: absolute;
  content: "✖";
  right: 690px;
  color: #FF0000;
}

/*# sourceMappingURL=styles.css.map */
