* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', sans-serif, serif;
}

@mixin uLFlex {
    display: flex;
    gap: 100px;
}
@mixin spacingLeftTop {
    margin-top: 20px;
    margin-left: 20px;
}
@mixin buttonBorder {
    border: 1px solid  #C0C0C0;
    border-radius: 30px;
}
@mixin inputInvalid {
    outline: 2px solid  #FF0000;    
}
@mixin inputValid {
    outline: 2px solid #3dce00;
}
@mixin inputInvalidAfterLeft {
    position: absolute;
    content: '✖';
    right: 690px;
    color: #FF0000;
}
@mixin inputValidAfterLeft {
    position: absolute;
    content: '✓';
    right: 690px;
    color: #3dce00;
}
@mixin inputInvalidAfterRight {
    position: absolute;
    content: '✖';
    left: 710px;
    color: #FF0000;
}
@mixin inputValidAfterRight {
    position: absolute;
    content: '✓';
    left: 710px;
    color: #3dce00;
}
body {
    height: 100vh;
    overflow: hidden;
    background-color: #FEFAE0;

}

section {
    &#image-container {
        position: relative;
        width: 40%;
    }
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    left: 20px;
    top: 20px;
    input {
        @include buttonBorder();
        width: 300px;
        height: 40px;
        text-indent: 10px;
        font-size: 1rem;
    }
}

ul {
    li{
        list-style-type: none;
    }
    &#names-list{
        @include uLFlex();
    }
    &#email-num {
        @include uLFlex();
    }
    &#password-id {
        @include uLFlex();
    }
}

div {
    &.main-container {
        position: relative;
        display: flex;
        margin: 50px 50px 0px;
        height: auto;
        border: 2px solid #000000;
        box-sizing: border-box;
    }
    &.container-1{
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 20px;
        background-color: #F3E5AB;
        width: 100%;
        font-size: 1.25rem;
    } 
    &.head-text {
        @include spacingLeftTop();
    }
    &.container-2{
        background-color: #f8edeb;
        font-size: 1.5rem;
        height: 60%;
    }
    &.coffee-bar{
        background-color: rgba(0,0,0, 0.2);
        width: 100%;
        position: absolute;
        top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &.coffee-bar > p {
        color: #FFFFFF;
        font-size: 2rem;
    }
    &.make-acc {
        top: 20px;
    }
    &.returning-customer {
        @include spacingLeftTop();  
    }
}
button {
    &#join-btn{
        @include buttonBorder();
        width: 250px;
        height: fit-content;
        font-size: 2rem;
    }

}

img {
    &#coffee-img {
        max-width: 100%;
        height: 100%;
    }
    &#coffee-gif {
        max-width: auto;
        height: 300px;
    }
}

input {
    &:focus:valid{
        @include inputValid();
    }
    &:focus:invalid{
        @include inputInvalid();
    }
    &#first-name {
        &:focus:invalid+span::after{
            @include inputInvalidAfterLeft();
        }
        &:valid+span::after{
            @include inputValidAfterLeft();
        }
    }
    &#last-name{
        &:focus:invalid+span::after{
            @include inputInvalidAfterRight();
        }
        &:valid+span::after{
            @include inputValidAfterRight();
        }
    }
    &#mail{
        &:focus:invalid{
            @include inputInvalid();
        }
        &:focus:invalid+span::after{
            @include inputInvalidAfterLeft();
        }
        &:valid+span::after {
            @include inputValidAfterLeft();
        }
    }
    &#telNum{
        &:focus{
            outline: 2px solid #fca311;
        }
        &:focus:invalid{
            @include inputInvalid();
        }
        &:focus:invalid+span::after{
            @include inputInvalidAfterRight();
        }
        &:valid+span::after {
            @include inputValidAfterRight();
        }
    }
    &#password{
        &:focus:invalid{
            @include inputInvalid();
        }
        &:focus:invalid+span::after{
            @include inputInvalidAfterLeft();
        }
        &:valid+span>.validation::after{
            @include inputInvalidAfterLeft()
        }
    }
    
}